<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0"
    />
    <title>css3d-vr</title>
  </head>
  <body>
    <div id="container"></div>
    <script src="js/css3d.min.js"></script>

    <script>
      // 创建场景
      var s = new C3D.Stage();
      s.size(window.innerWidth, window.innerHeight).update();
      document.getElementById("container").appendChild(s.el);

      var box = new C3D.Skybox();
      box
        .size(954)
        .position(0, 0, 0)
        .material({
          front: { image: "images/scene_front.jpeg" },
          back: { image: "images/scene_back.jpeg" },
          left: { image: "images/scene_left.jpeg" },
          right: { image: "images/scene_right.jpeg" },
          up: { image: "images/scene_top.jpeg" },
          down: { image: "images/scene_bottom.jpeg" },
        })
        .update();
      s.addChild(box);

      var prevX = 0;
      var prevY = 0;
      var curX = 0;
      var curY = 0;
      var prevAngX = 0;
      var prevAngY = 0;
      var curAngX = 0;
      var curAngY = 0;

      function touchstartHandler(event) {
        prevX = event.touches[0].clientX;
        prevY = event.touches[0].clientY;
        prevAngX = curAngX;
        prevAngY = curAngY;
        curX = event.touches[0].clientX;
        curY = event.touches[0].clientY;
      }

      function touchmoveHandler(event) {
        curX = event.touches[0].clientX;
        curY = event.touches[0].clientY;
      }

      function touchendHandler(event) {
        // curX = event.touches[0].clientX;
        // curY = event.touches[0].clientY;
      }

      document.addEventListener("touchstart", touchstartHandler);

      document.addEventListener("touchmove", touchmoveHandler);

      document.addEventListener("touchend", touchendHandler);

      function uloop() {
        curAngX += (curX - prevX + prevAngX - curAngX) * 0.3;
        curAngY += (curY - prevY + prevAngY - curAngY) * 0.3;

        s.camera.rotation(curAngY, -curAngX, 0).updateT();
        requestAnimationFrame(uloop);
      }

      uloop();

      var points = [
        {
          position: {
            x: 0,
            y: 0,
            z: -476,
          },
          detail: {
            title: "信息点1",
          },
        },
        {
          position: {
            x: 100,
            y: 0,
            z: 476,
          },
          detail: {
            title: "信息点2",
          },
        },
      ];

      for (var i = 0; i < points.length; i++) {
        var _p = new C3D.Plane();

        var r =
          (Math.atan2(points[i].position.z - 0, 0 - 0) * 180) / Math.PI + 90;

        _p.size(207, 162)
          .position(
            points[i].position.x,
            points[i].position.y,
            points[i].position.z
          )
          .rotation(0, r, 0)
          .material({
            image: "images/hot.png",
            repeat: "no-repeat",
            bothsides: false,
          })
          .update();
        s.addChild(_p);

        _p.el.detail = points[i].detail;

        _p.on("click", function (e) {
          alert(e.target.detail.title);
        });
      }
    </script>
  </body>
</html>
