.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-control {
  /* Header height: 64px */
  width: 64px;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-control-icon {
  font-size: 24px;
  color: #909399 !important;
}

.header-control:hover .header-control-icon {
  color: #fff !important;
}

.header-screen {
  cursor: pointer;
}

.header-screen-icon {
  margin: 20px;
  font-size: 24px;
  color: #909399 !important;
}