@prefix: sidebar;

.@{prefix}-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.ant-menu-submenu-title {
  color: rgba(255, 255, 255, 0.65);
}

:export {
  prefix: @prefix;
}
